body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#canvas-holder{
  display: flex;
  justify-content: center;

}
#content{
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
}
.wrap{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.header{
  text-align: center;
  width: 100%;
  color: #121;
  font-size: 24px;
  letter-spacing: 5px;
  
  text-shadow: -1px -1px 0px #187,
    3px 3px 0px #ea2,
    6px 6px 0px #ee1;
}
.radioBtn{
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

/* .maincanvas{

} */
